In [1]:
# importing the basic lybraries

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("zomato.csv")

In [3]:
data.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [4]:
data.tail()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [6]:
data.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [7]:
data.shape

(51717, 17)

#### As you can see, there are some columns in our dataset with unapropriate names. lets rename them

In [8]:
data_rename = data.rename({"approx_cost(for two people)":"approx_cost_for_two_people",'listed_in(type)':"listed_in_type",
             "listed_in(city)":"listed_in_city"},axis = 1)

In [9]:
data_rename.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost_for_two_people', 'reviews_list', 'menu_item',
       'listed_in_type', 'listed_in_city'],
      dtype='object')

#### Lets drop some columns which are not useful for the predictions

In [10]:
data_drop = data_rename.drop(["url","phone","dish_liked"], axis = 1)

In [11]:
data_drop.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'approx_cost_for_two_people',
       'reviews_list', 'menu_item', 'listed_in_type', 'listed_in_city'],
      dtype='object')

In [12]:
data_drop.head(3)

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost_for_two_people,reviews_list,menu_item,listed_in_type,listed_in_city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

#### There is an un-appropriate data in our output column i.e. Rate. We need to do some cleaning

In [13]:
data_drop["rate"]

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51712    3.6 /5
51713       NaN
51714       NaN
51715    4.3 /5
51716    3.4 /5
Name: rate, Length: 51717, dtype: object

In [14]:
data_drop.rate.unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [15]:
data_drop = data_drop.loc[data_drop.rate != 'NEW']
data_drop = data_drop.loc[data_drop.rate != '-']

In [16]:
data_drop.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'approx_cost_for_two_people',
       'reviews_list', 'menu_item', 'listed_in_type', 'listed_in_city'],
      dtype='object')

In [17]:
data_drop.shape

(49440, 14)

In [18]:
data_drop.rate.unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [19]:
remove_slash = lambda x: x.replace("/5","") if type(x) == np.str else x

In [20]:
data_drop.rate = data_drop.rate.apply(remove_slash).str.strip().astype(float)
data_drop.rate.head()

0    4.1
1    4.1
2    3.8
3    3.7
4    3.8
Name: rate, dtype: float64

#### We need to do some more data cleaning

In [21]:
data_drop.approx_cost_for_two_people.unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '1,100', '1,600', '230',
       '130', '80', '50', '190', '1,700', nan, '180', '1,350', '2,200',
       '1,400', '2,000', '1,800', '1,900', '330', '2,500', '2,100',
       '3,000', '2,800', '3,400', '40', '1,250', '3,500', '4,000',
       '2,400', '2,600', '120', '1,450', '469', '70', '3,200', '60',
       '240', '6,000', '1,050', '2,300', '4,100', '5,000', '3,700',
       '1,650', '2,700', '4,500', '140', '360'], dtype=object)

In [22]:
remove_comma = lambda x: x.replace(",","") if type(x) == np.str and x != np.nan else x
data_drop["approx_cost_for_two_people"] = data_drop["approx_cost_for_two_people"].apply(remove_comma).astype(float)
data_drop["approx_cost_for_two_people"].unique()

array([ 800.,  300.,  600.,  700.,  550.,  500.,  450.,  650.,  400.,
        900.,  200.,  750.,  150.,  850.,  100., 1200.,  350.,  250.,
        950., 1000., 1500., 1300.,  199., 1100., 1600.,  230.,  130.,
         80.,   50.,  190., 1700.,   nan,  180., 1350., 2200., 1400.,
       2000., 1800., 1900.,  330., 2500., 2100., 3000., 2800., 3400.,
         40., 1250., 3500., 4000., 2400., 2600.,  120., 1450.,  469.,
         70., 3200.,   60.,  240., 6000., 1050., 2300., 4100., 5000.,
       3700., 1650., 2700., 4500.,  140.,  360.])

In [23]:
data_drop.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost_for_two_people,reviews_list,menu_item,listed_in_type,listed_in_city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

#### Filling null values in rating with the mean

In [24]:
data_drop.rate = data_drop.rate.fillna(data_drop["rate"].mean())
data_drop.rate

0        4.100000
1        4.100000
2        3.800000
3        3.700000
4        3.800000
           ...
51712    3.600000
51713    3.700449
51714    3.700449
51715    4.300000
51716    3.400000
Name: rate, Length: 49440, dtype: float64

In [25]:
data_drop["approx_cost_for_two_people"] = data_drop["approx_cost_for_two_people"].fillna(data_drop["approx_cost_for_two_people"].mean())

In [26]:
data_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49440 entries, 0 to 51716
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   address                     49440 non-null  object
 1   name                        49440 non-null  object
 2   online_order                49440 non-null  object
 3   book_table                  49440 non-null  object
 4   rate                        49440 non-null  float64
 5   votes                       49440 non-null  int64
 6   location                    49419 non-null  object
 7   rest_type                   49215 non-null  object
 8   cuisines                    49395 non-null  object
 9   approx_cost_for_two_people  49440 non-null  float64
 10  reviews_list                49440 non-null  object
 11  menu_item                   49440 non-null  object
 12  listed_in_type              49440 non-null  object
 13  listed_in_city              49440 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 5.7+ MB

In [27]:
data_drop.isnull().sum()

address                         0
name                            0
online_order                    0
book_table                      0
rate                            0
votes                           0
location                       21
rest_type                     225
cuisines                       45
approx_cost_for_two_people      0
reviews_list                    0
menu_item                       0
listed_in_type                  0
listed_in_city                  0
dtype: int64

#### Droping unwanted features which will not be useful for model building

In [28]:
data_drop.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'approx_cost_for_two_people',
       'reviews_list', 'menu_item', 'listed_in_type', 'listed_in_city'],
      dtype='object')

In [29]:
zomato = data_drop.iloc[:,[2,3,4,5,6,7,8,9,11]]
zomato.head()

,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost_for_two_people,menu_item
0,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800.0,[]
1,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800.0,[]
2,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800.0,[]
3,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300.0,[]
4,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600.0,[]

##### Seperating dependent and independent variable

In [30]:
x = zomato.drop("rate",axis = 1)
y = zomato.rate

In [31]:
x.columns

Index(['online_order', 'book_table', 'votes', 'location', 'rest_type',
       'cuisines', 'approx_cost_for_two_people', 'menu_item'],
      dtype='object')

#### Converting categorical data into numerical for model building

In [32]:
def Encode(data):
    for column in x.columns[~x.columns.isin(['approx_cost_for_2_people', 'votes'])]:
        x[column] = x[column].factorize()[0]
    return x

x = Encode(x)

In [33]:
x

,online_order,book_table,votes,location,rest_type,cuisines,approx_cost_for_two_people,menu_item
0,0,0,775,0,0,0,0,0
1,0,1,787,0,0,1,0,0
2,0,1,918,0,1,2,0,0
3,1,1,88,0,2,3,1,0
4,1,1,166,1,0,4,2,0
...,...,...,...,...,...,...,...,...
51712,1,1,27,29,17,251,20,0
51713,1,1,0,29,17,248,2,0
51714,1,1,0,29,17,248,36,0
51715,1,0,236,62,17,248,40,0
51716,1,1,13,62,36,2075,20,0

In [34]:
# Importing Machine learning lybraries

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [35]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.25,random_state = 12345)

In [36]:
lr = LinearRegression()

In [37]:
lr.fit(xtrain, ytrain)

LinearRegression()

In [38]:
ypred = lr.predict(xtest)

In [39]:
from sklearn.metrics import r2_score, mean_squared_error

In [40]:
print("R squared value of linear regression model is :", r2_score(ytest,ypred))
print("RMSE value of linear regression model is :", mean_squared_error(ytest, ypred, squared =False))

R squared value of linear regression model is : 0.27500217514221137
RMSE value of linear regression model is : 0.3437225603780809

In [41]:
from  sklearn.tree import DecisionTreeRegressor

In [42]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.1,random_state = 1234)

In [43]:
Dtree = DecisionTreeRegressor(min_samples_leaf=0.0001)

In [44]:
Dtree.fit(xtrain, ytrain)

DecisionTreeRegressor(min_samples_leaf=0.0001)

In [45]:
ypred_Dtree = Dtree.predict(xtest)

In [46]:
print("R squared value of Descision Tree Regressor is :", r2_score(ytest,ypred_Dtree))
print("RMSE value of Descision Tree Regressor is :", mean_squared_error(ytest, ypred_Dtree, squared =False))

R squared value of Descision Tree Regressor is : 0.8040874913742578
RMSE value of Descision Tree Regressor is : 0.17920889258848322

In [47]:
from sklearn.ensemble import RandomForestRegressor

In [48]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.1,random_state = 353)

In [49]:
RForest = RandomForestRegressor()
RForest.fit(xtrain,ytrain)

RandomForestRegressor()

In [50]:
ypred_rf = RForest.predict(xtest)

In [51]:
print("R squared value of  Random Forest Regressor  is :", r2_score(ytest,ypred_rf))
print("RMSE value of Random Forest Regressor  is :", mean_squared_error(ytest, ypred_rf, squared =False))

R squared value of  Random Forest Regressor  is : 0.9434833612117788
RMSE value of Random Forest Regressor  is : 0.09628171313464169